.description{
    margin: auto;
   
}

.nav-item{
    color: #000000;
}

.nav-link{
    color: black;
}
.navbar-toggler-icon
{
    fill: #000000;
}
.avatar{
    float: right;
   
}

/* .row{
    margin-top: 150px;
  
} */
.card-img-top{
    margin-bottom: 30px
}

.projecttitle{
    text-align: center;
}


.nav-link{
    font-size: 15px;
    margin-right: 50px;
}

.content{
    margin-top: 120px;
}

.aboutpic{
    max-width: 70%;
    margin: auto;
    margin-left: 15%;
    margin-bottom: 50px;
    
}

.aboutcontainer{
   margin-left: 15%;
   margin-right: 15%;
   margin-bottom: 150px;
}

u{
    text-decoration: underline;
    text-decoration-color: #DCF356;
    border-bottom: #DCF356;
}



@media only screen and (max-width: 992px) {
    .avatar img{
      max-width: 40%;
      margin: auto;
      margin-left: 30%;


    }



    .description{
        margin-top: 30px;
        
    }
}