.description{
    margin: auto;
   
}

.nav-item{
    color: #000000;
}

.nav-link{
    color: black;
}
.navbar-toggler-icon
{
    fill: #000000;
}
.avatar{
    float: right;
   
}

/* .row{
    margin-top: 150px;
  
} */
.card-img-top{
    margin-bottom: 30px
}

.projecttitle{
    text-align: center;
}


.nav-link{
    font-size: 15px;
    margin-right: 50px;
}

.content{
    margin-top: 120px;

}

.aboutpic{
    max-width: 70%;
    margin: auto;
    margin-left: 15%;
    margin-bottom: 50px;
    
}

.aboutcontainer{
   margin-left: 15%;
   margin-right: 15%;
   margin-bottom: 10px;
}

u{
    text-decoration: underline;
    text-decoration-color: #DCF356;
    border-bottom: #DCF356;
}

p{
    font-family: 'Libre Baskerville', serif;
    line-height: 2.5em;
}

.intro{
    font-family: 'Libre Baskerville', serif;
    color: #328AEC;
}

.whoami{
    font-family: 'Libre Baskerville', serif;
}

.content h1{
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    margin-bottom: 70px;
    color: #328AEC;
}
.navbar-light{
    background:white;
}

.skillinfo{
    color: #A3A3A3;
    text-align: center;
    margin-bottom: 40px;
}


@media only screen and (max-width: 992px) {
    .avatar img{
      max-width: 40%;
      margin: auto;
      margin-left: 30%;
    }

    .description{
        margin-top: 30px;
        
    }


}