.description{
    margin: auto;
   
}

.nav-item{
    color: #000000;
}

.nav-link{
    color: black;
}
.navbar-toggler-icon
{
    fill: #000000;
}
.avatar{
    float: right;
   
}


.card-img-top{
    margin-bottom: 30px
}

.projecttitle{
    text-align: center;
}


.nav-link{
    font-size: 15px;
    margin-right: 50px;
}

.content{
    margin-top: 120px;

}

.resumecontent{
    margin-top: 120px;
  
}

.resumecontent h1{
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    margin-bottom: 70px;
    color: #328AEC;
}

.resumecontent h2{
    margin-left: 180px;
    
}

.resumecontent .resumesubheader{
    margin-left: 180px;
    color: #328AEC;
}

.resumecontent .resumesubinfo{
    margin-left: 180px;
    margin-bottom: 80px;
}
.resumecontent ul{
    font-family: 'Libre Baskerville', serif;
    margin-left: 180px;
    margin-bottom: 80px;
    margin-top: 40px;
}
.aboutpic{
    max-width: 70%;
    margin: auto;
    margin-left: 15%;
    margin-bottom: 50px;
    
}

.aboutcontainer{
   margin-left: 15%;
   margin-right: 15%;
   margin-bottom: 10px;
}

u{
    text-decoration: underline;
    text-decoration-color: #DCF356;
    border-bottom: #DCF356;
}

p{
    font-family: 'Libre Baskerville', serif;
    line-height: 2.5em;
}

.intro{
    font-family: 'Libre Baskerville', serif;
    color: #328AEC;
}

.whoami{
    font-family: 'Libre Baskerville', serif;
}

.content h1{
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    margin-bottom: 70px;
    color: #328AEC;
}
.navbar-light{
    background:white;
}

.skillinfo{
    color: #A3A3A3;
    text-align: center;
    margin-bottom: 40px;
}



/* Following line of code is from week7b exercise for making a contact page written by Elizabeth Lawley */
form {
/* Just to center the form on the page */
margin: 0 auto;
width: 400px;
/* To see the outline of the form */
padding: 1em;
border: 1px solid #CCC;
border-radius: 1em;
}

form div + div {
margin-top: 1em;
}

label {
/* To make sure that all labels have the same size and are properly aligned */
display: inline-block;
width: 90px;
text-align: right;
}

input, textarea {
/* To make sure that all text fields have the same font settings
 By default, textareas have a monospace font */
font: 1em sans-serif;

/* To give the same size to all text fields */
width: 300px;
box-sizing: border-box;

/* To harmonize the look & feel of text field border */
border: 1px solid #999;
}

input:focus, textarea:focus {
/* To give a little highlight on active elements */
border-color: #000;
}

textarea {
/* To properly align multiline text fields with their labels */
vertical-align: top;

/* To give enough room to type some text */
height: 5em;
}

.button {
/* To position the buttons to the same position of the text fields */
padding-left: 90px; /* same size as the label elements */
}

button {
/* This extra margin represent roughly the same space as the space
 between the labels and their text fields */
margin-left: .5em;
}


/* media query responsive */
@media only screen and (max-width: 992px) {
    .avatar img{
      max-width: 40%;
      margin: auto;
      margin-left: 30%;
    }

    .description{
        margin-top: 30px;
        
    }


}